@use "mixin" as *;

/*--------------按键样式----------*/
.commands-Key{
	@include flex-base(true);
	font-weight: normal;
	font-size: var(--h6-size);
	margin-right: var(--mg-small);
	color: var(--color-black-secondary);
}