@use "../../scss/mixin/mixin" as *;
@use "./admin-theme-public" as tp;

.admin-theme{

  .main-grid{
    min-height: calc(100vh - var(--header-banner-height));
  }

  .theme-content{
    margin: var(--mg-large);
  }

  .theme2-nav{
    position: relative;
    height: var(--banner-height);
    box-shadow: inset 0 -1px var(--border-color);
    background-color: var(--bg-color-header);
    &__left{
      @include flex-base();
      height: 100%;
      padding-left: var(--pd-large);
    }

    &__right{
      ul{
        @include flex-base();
        height: 100%;
        overflow: hidden;
      }
      & .nav-item-li{
        position: relative;
        flex-shrink: 0;
        flex-basis: 190px;
        margin-left: var(--mg-small);
        &:hover .nav-item{
          background-color: var(--bg-color-hover);
        }
      }
      & .nav-item{
        display: block;
        line-height: var(--size-default);
        border: var(--border-1);
        border-radius: var(--border-radius-medium);
        padding: {
          right: var(--pd-small);
          left: var(--pd-large);
        };
        text-decoration: none;
      }

      & a[aria-current='page']{
        @extend .active;
      }
      & a[aria-current='page'] + button{
      }
    }
  }
}

.nav-block{
  flex: 1;
  height: var(--size-default);
  border-radius: var(--border-radius-medium);
  margin-right: var(--mg-small);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}